<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Musea Musketon - Contact</title>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  </head>
  <body class="green">
    <%- include("nav"); -%>

    <div class="space">
      <p>space</p>
    </div>

    <img src="/img/logo.gif" alt="">
    <div class="info">
      <h3 class="info">Musketon</h3>
      <p class="info">Een Museum met de werken van een Belgische visual artist. Wie zijn eigen stijl ontwierp en deze nog steeds gebruikt in al zijn werken. Deze is kleurrijk met dikke lijnen. </p>
      <p class="info">Waarom deze arties? Ik vind zijn werk echt super mooi en zou super graag leren hoe hij dit maakt. Ik heb al veel mensen hun werk gezien, maar dit springt er toch boven uit voor mezelf. Ik hoop dat ik later dit zelf zou kunnen maken.</p>
      <p class="info"></p>
      <h4 class="adres">Nederkouter 124/103 <br>
        9000 Gent <br>
        Belgium</h4>
    </div>

    <%- include("footer"); -%>
    
  </body>
</html>
