<footer>
  <h1 class= "foot">Musea Musketon</h1>
  <ul class="ulfooter">
    <li><a class="fot" href="/">Home</a></li>
    <li><a class="fot" href="/contact">Contact</a></li>
    <li><a class="fot" href="/werk">Werk</a></li>
  </ul>
</footer>
