<nav>
  <h1>Musea Musketon</h1>
  <ul class="ulnav">
    <li><a class="menu" href="/">Home</a></li>
    <li><a class="menu" href="/contact">Contact</a></li>
    <li><a class="menu" href="/werk">Werk</a></li>
  </ul>
</nav>
